@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Poppins', sans-serif;

}
body {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 46%, rgba(252,176,69,1) 100%);
}

div{
    width: 40%;
    min-width: 350px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 13px 15px 13px -3px rgba(0,0,0,0.49);
    margin: 100px auto;
    padding: 20px;
    
}

h1,p{
    text-align: center;
    margin: 10px;
}

button {
    display: block;
    margin: 20px auto;
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 5px;
    background: #F08080;
    color: #ffffff;
    cursor: pointer;

}

a{
    color: #ffffff;
    text-decoration: none;
}